html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    color: white;
    overflow: hidden;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.canvas {
    transition: filter .5s ease-in-out;
}

.canvas.blur {
    filter: blur(2px);
}

.fullwidth {
    width: 100%;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.pannel {
    width: 15%;
    background: linear-gradient(#081236, #142150);
    padding: 30px;
    position: relative;
}

.title {
    padding: 15px 0 30px 0;
    text-align: center;
    font-size: 1.25em;
}

.stat {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.stat-name {
    text-transform: capitalize;
}

.health-bar,
.exp-bar {
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;

    transition: width .5s linear;
}

.exp-bar .bar {
    background: #4494cc;
    width: 100%;
}

.exp-bar .hit {
    width: 100%;
}

.hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;

    transition: width .5s linear;
}

.buttons {
    width: calc(100% - 60px);
    height: 5%;
    position: absolute;
    bottom: 30px;
}

.inventory-button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.inventory-button:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 50%);
    box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 50%);
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(255 255 255 / 50%);
    box-shadow: 0px 0px 5px 0px rgb(255 255 255 / 50%);
}

.inventory {
    position: absolute;
    width: 70%;
    height: 70%;
    top: calc(50% - 70% * 0.5);
    left: calc(50% - 70% * 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100vh);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.inventory.active {
    opacity: 1;
    transform: translate(0%);
}

.inventory .header {
    height: calc(12.5% - 2px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inventory .container {
    height: calc(75% - 2px);
    display: flex;
}

.inventory .footer {
    height: 12.5%;
}

.inventory .header,
.inventory .container {
    border-bottom: 2px solid #ffffff14;
}

.inventory .header,
.inventory .footer {
    background: rgba(0, 0, 0, 0.15);
}

.inventory .header,
.inventory .container,
.inventory .footer {
    padding: 0 50px;
}

.inventory-health,
.inventory-title,
.inventory-currency {
    font-size: 1.25em;
}

.inventory-left,
.inventory-right {
    width: 50%;
    padding: 50px 0;
}

/*.selector {
    height: calc(30% - 50px);
}*/

.selector-title {
    font-size: 0.75em;
    text-align: center;
}

.selector-list {
    padding: 10px 50px;
    display: flex;
    justify-content: space-around;
}

.selector-item {
    filter: brightness(0.5);
    transition: transform .2s ease-in-out, filter .2s ease-in-out;
}

.selector-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.6);
}

.selector-item.active {
    transform: scale(1.1);
    filter: brightness(1);
    cursor: auto;
}

.selector-item.deactivated {
    filter: brightness(0.25);
}

.selector-item.deactivated:hover {
    transform: scale(1);
    cursor: auto;
}

.selector-underline {
    width: calc(100% - 100px);
    height: 2px;
    background: rgb(255 255 255 / 25%);
    margin: 0 auto;
    border: 0px;
    position: relative;
}

.selector-line {
    background: white;
    width: calc(100% / 9);
    height: 2px;
    position: absolute;
    transform: translate(0%);
    transition: transform .2s ease-in-out;
}

.inventory-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.inventory-item {
    aspect-ratio: 1/1;
    background: rgb(110, 110, 110, 0.5);
    border: 2px solid rgb(255, 255, 255, 0.25);
    border-radius: 5px;

    transition: border .2s ease-in-out,
                background .2s ease-in-out,
                box-shadow .2s ease-in-out;
}

.inventory-item.available {
    background: rgb(20, 20, 20, 0.9);
    border: 2px solid rgb(140, 140, 140, 0.5);
    cursor: pointer;
}

.inventory-item.available:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255, 1) !important;
    position: relative;
}

.inventory-item.selected {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255, 1) !important;
    position: relative;
}

.inventory-item.selected::before,
.inventory-item.selected::after {
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    border-top: 15px solid #fff;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    height: calc(100% - 20px);
}

.inventory-item.selected::after {
    left: calc(100% - 10px);
    border-left: 15px solid transparent;
    border-right: 0;
}